dj-database-url==0.4.1
gunicorn==19.6.0

psycopg2==2.6.2

whitenoise==3.2
conda==4.2.9
Django==1.10.4
enum34==1.1.6
menuinst==1.4.1
mmh3==2.3.1
nba-py==0.1a1
numpy==1.11.2
pycosat==0.6.1
pycrypto==2.6.1
pymongo==3.3.0
PyYAML==3.11
requests==2.10.0
ruamel-yaml===-VERSION
scikit-learn==0.18
scipy==0.18.1
